/* Navbar */

.navbar{
display:flex;
align-items:center;
justify-content:space-between;
background:#4A90E2;
padding:10px 40px;
font-family:'Poppins', sans-serif;
}

/* Logo + Title */

.navbar h1{
color:white;
font-size:26px;
display:flex;
align-items:center;
gap:10px;
margin:0;
}

.navbar img{
height:40px;
}

/* Menu */

.navbar ul{
list-style:none;
display:flex;
gap:30px;
margin:0;
padding:0;
}

.navbar ul li a{
text-decoration:none;
color:white;
font-weight:500;
font-size:16px;
transition:0.3s;
}

/* Hover Effect */

.navbar ul li a:hover{
color:#FFD700;
}